<div class="container">
    <div class="row">
        <h1> Contactanos </h1>
    </div>

    <div class="row">
        <form>
            <div class="form-group">
                <label for="c-form-name">
                <span class="label-text">Nombre:</span> 
                <span class="contact-error"></span>
            </label>
                <input type="text" name="name" placeholder="Your name..." class="c-form-name form-control" id="c-form-name">
            </div>
            <div class="form-group">
                <label for="c-form-email">
                <span class="label-text">Correo Electronico:</span> 
                <span class="contact-error"></span>
            </label>
                <input type="text" name="email" placeholder="Your email address..." class="c-form-email form-control" id="c-form-email">
            </div>
            <div class="form-group">
                <label for="c-form-profession">
                <span class="label-text">Relacion de Contacto:</span> 
                <span class="contact-error"></span>
            </label>
                <select name="profession" class="c-form-profession form-control" id="c-form-profession">
                <option value="Your profession...">Soporte Tecnico</option>
                <option value="Web design">Reclamacion de Notas</option>
                <option value="SEO">Relacion de pago </option>
                <option value="Marketing">Declaracion de ausencia</option>
                <option value="others">otros</option>
            </select>
            </div>
            <div class="form-group">
                <label for="c-form-subject">
                <span class="label-text">Asunto:</span> 
                <span class="contact-error"></span>
            </label>
                <input type="text" name="subject" placeholder="Message subject..." class="c-form-subject form-control" id="c-form-subject">
            </div>
            <div class="form-group">
                <label for="c-form-message">
                <span class="label-text">Message:</span> 
                <span class="contact-error"></span>
            </label>
                <textarea name="message" placeholder="Message text..." class="c-form-message form-control" id="c-form-message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

</div>