<div class="container">
    <div class="row">
        <div class="col col-sm-6 mt-1">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header bg-info" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Nuestra Historia
                      </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                            beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header  bg-info" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                       Nuestros Valores 
                      </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                            beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header  bg-info" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Nuestra Mision
                      </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body ">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                            beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-sm-6 mt-1">
            <div class="row">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Director Y Fundador</h5>
                                <h6>Barack Obama</h6>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="../../../assets/img/about.jpg" width="80px" height="150px" class="card-img" alt="...">
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Director Suplente</h5>
                                <h6>Hilary Clinton</h6>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="../../../assets/img/about1.jpg" width="80px" height="150px" class="card-img" alt="...">
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Director Administrativo</h5>
                                <h6>Angela Merkel</h6>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="../../../assets/img/about3.jpg" width="80px" height="150px" class="card-img" alt="...">
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
    <div class="row">

        <table class="table">
            <caption class="text-center">Lista de Profesores</caption>
            <thead>

                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Asigniatura</th>
                    <th scope="col">Biografia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Matematicas</td>
                    <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore repellendus quas nesciunt illum quasi unde voluptas? Eum sapiente explicabo atque, ea debitis eligendi, doloremque blanditiis illo omnis minus, repudiandae ab!</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Ingles</td>
                    <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore repellendus quas nesciunt illum quasi unde voluptas? Eum sapiente explicabo atque, ea debitis eligendi, doloremque blanditiis illo omnis minus, repudiandae ab!</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>Ciencias Sociales</td>
                    <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore repellendus quas nesciunt illum quasi unde voluptas? Eum sapiente explicabo atque, ea debitis eligendi, doloremque blanditiis illo omnis minus, repudiandae ab!</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>