#divChatbox {
    background: CornflowerBlue;
}

.chat-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 550px !important;
    padding: 8px;
}

textarea {
    width: 100%;
}

ul {
    list-style: none;
}

.chatScreen {
    position: absolute;
    background: blue;
    width: 250px;
    height: 250px;
    margin: 3px;
    padding: 3px;
}

.chatScreen p {
    color: white;
}