<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row animated fadeIn">
                <div class="col-12">
                    <div class="card m-b-0">
                        <!-- .chat-row -->
                        <div class="chat-main-box">
                            <!-- .chat-left-panel -->
                            <div class="chat-left-aside">
                                <div class="open-panel"><i class="ti-angle-right"></i></div>
                                <div class="chat-left-inner">
                                    <div class="form-material">
                                        <input class="form-control p-20" type="text" placeholder="Buscar Contacto" />
                                    </div>
                                    <ul class="chatonline style-none" id="divUsuarios"></ul>
                                </div>
                            </div>
                            <!-- .chat-left-panel -->
                            <!-- .chat-right-panel -->
                            <div class="chat-right-aside">
                                <div class="chat-main-header">
                                    <div class="p-20 b-b">
                                        <h3 class="box-title">

                                            <h3>Aula {{user['room']}}</h3>
                                        </h3>
                                    </div>
                                </div>

                                <div class="chat-rbox">
                                    <ul class="chat-list p-20" id="divChatbox">
                                        <li *ngIf="isChatScreen">
                                            <div class="chatScreen">
                                                <p>Chat screen</p>
                                            </div>
                                        </li>
                                        <li>
                                            <app-user-card [dataChat]="textting" [message]="messages" [dataDOM]="divUsuarios"></app-user-card>
                                        </li>
                                        <!--chat list-->
                                    </ul>
                                </div>
                                <div class="card-body b-t">
                                    <form autocomplete="off" (ngSubmit)="chatMessage(forma)" #forma="ngForm">
                                        <div class="row">
                                            <div class="col-8">
                                                <input type="text" autocomplete=" off" ngModel name="escribir" placeholder="Escribe tu mensaje aquí" class="form-control b-0" />
                                            </div>
                                            <div class="col-4 text-right">
                                                <button type="submit" class="btn btn-info btn-circle btn-lg">
                        <i class="fa fa-paper-plane-o"></i>Ingresar
                      </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <!-- .chat-right-panel -->
                        </div>
                        <!-- /.chat-row -->
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
    </div>
</div>