<div class="container">

    <h1>Registrese para poder acceder a la Escuela Virtual</h1>


    <div class="row">

        <form autocomplete="off" (ngSubmit)="login(loginForma)" #loginForma="ngForm">
            <canvas id="myCanvas" width="300" height="250" style="border:1px solid #000000;"></canvas>
            <div class="form-group">
                <label for="name">QRcode para poder entrar debes de usar Google Authenticator</label>
                <input type="text" id="qrcode" name="qrcode" placeholder="type your Qrcode" class="form-control">
            </div>

            <div class="form-group">
                <label for="name">Correo electronico</label>
                <input type="email" id="name" [class.is-invalid]="email.invalid && email.touched" [ngModel]="user.email" email name="email" placeholder="Escribe tu correo electronico aqui " class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required
                    #email="ngModel">
                <small *ngIf="email.invalid && email.touched" class="form-text text-danger">correo no valido debe tener la forma miNombredeCorreo@midominio.com </small>
            </div>
            <div class="form-group">
                <label for="email">Contraseña</label>
                <input type="password" id="password" [class.is-invalid]="password.invalid && password.touched" [ngModel]="user.password" name="password" placeholder="Escribe tu contraseña aqui" class="form-control" minlength=6 #password="ngModel" required>
                <small *ngIf="password.invalid && password.touched" class="form-text text-danger">Minimo 6 letras </small>

            </div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LfducAUAAAAAGcOomPAkF_5AVZp7jRWoNZgOgkM">
                </div>
            </div>
            <ul class="nav justify-content-start">
                <li>
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </li>
                <li> <button href="#" class="btn btn-danger" onclick="signOut();">Salir de google</button></li>
            </ul>



            <div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>

        </form>
    </div>

</div>